body {
  background-color: #e5e5e5;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  color: #0d2964;
}

header {
  text-align: center;
  font-size: 25;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  background-color: #fca311;
  margin-bottom: 65px;
  font-size: 20px;
  color: #14213d;
}

.section {
  display: flex;
}

.image {
  max-width: 500px;
  border-radius: 25px;
  margin: 0px auto;
}

.se {
  text-align: center;
  width: 300px;
}

.se p {
  padding: 0 75px;
}

.se h2 {
  font-size: 25px;
}

#homepage {
  margin: 50px 40px;
}

#news {
  margin: 50px 40px;
}

#contact {
  margin: 50px 40px;
}

#crypto {
  margin: 50px 40px;
}

#verse {
  margin: 50px 450px;
  font-size: 30px;
}

#logo {
  align-items: center;
  display: flex;
  gap: 30px;
  margin-right: 400px;
  font-size: 25px;
}

#navimg {
  width: 125px;
}
